# ==========================================================================
# RE-ROUTAGE HTTPS DE SÉCURITÉ
# ==========================================================================
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ==========================================================================
# EN-TÊTES DE SÉCURITÉ (SECURITY HEADERS)
# ==========================================================================

<IfModule mod_headers.c>
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
